*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
 }
  body{
    background: white;
 }
 .login-box{
    background: white;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: centre;
    border-radius: 10px;
    
 }
 .login-box h2{
    margin-bottom: 30px;
 }
 .login-box button img{
    width: 30px;
    margin-right: 10px;
 }
 .login-box button{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: rgba(5, 2, 2, 0.909);
    border: 1px solid black;
    font-weight: 500;
    cursor: pointer;
    color: white;
    
 }
 .login-box hr{
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
 }
 .login-box span{
    display: block;
    width: 40px;
    margin: auto;
    background: #fff;
    font-size: 14px;
    margin-top: -16px;
    text-align: center;
 }
 .login-box form button{
    color: black;
    background: white;
 }
 .login-box p{
    font-size: 10px;
    margin: 40px 0 50px;
    text-align: center;
 }
 .login-box section{
    margin-top: -400px;
    margin-left: 10cm;
    color: black;
 }